<div class="v-markdown-text-area-container v-plugin v-input"
     id="<%= comp.id %>"
     data-plugin-callback='MarkdownEditor'>
  <label for="<%= comp.id %>"><%= expand_text(comp.label) %></label>
  <div class="v-markdown-text-area"
       data-name="<%= comp.name %>"
       <%= "data-placeholder='#{comp.placeholder}'" if comp.placeholder %>
       <% if comp.tag %>data-input-tag="<%= comp.tag %>"<% end %>
       <% if comp.dirtyable %>data-dirtyable<% end %>
       <% if comp.height %>data-initial-height="<%= comp.height %>"<% end %>
       <% if comp.resizable %>data-resizable<% end %>
       <% if comp.disabled %>disabled<% end %>
       style="<%= 'width: 100%;' if comp.full_width %>">
  </div>
  <div class="v-markdown-text-area--initial-value" style="display: none;">
    <%= comp.value %>
  </div>
  <span class="mdl-textfield__error <% if comp.error %> is-invalid<%end%>" ><%= comp.error || comp.hint%></span>
  <p id="<%= comp.id %>-input-helper-text" class="mdc-text-field-helper-text mdc-text-field-helper-text--persistent mdc-text-field-helper-text--validation-msg" aria-hidden="true">
    <%= comp.error || comp.hint %>
  </p>
  <div class="v-hidden v-rich-text-area--fixed-up-content" hidden aria-hidden="true"></div>
  <%= erb :"components/tooltip", :locals => {comp: comp.tooltip, parent_id: comp.id} %>
</div>